body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  background-color: rgb(240, 240, 73);
  color: rgb(110, 10, 10);
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  background-color: rgb(255, 255, 87);
  font-family: 'Gentium Basic', serif;
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
  border-radius: 5px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
}

.navbar p {
  margin-top: 0.5em;
  padding: 0;
  font-size: 1.2em;
}

.movie-search {
  margin: 0.5em;
}

.movie-search input[type='text'] {
  font-family: 'Gentium Basic', serif;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 0.3em;
  display: block;
  width: 90%;
}

.movie-search input[type='submit'] {
  font-family: 'Gentium Basic', serif;
  background-color: rgb(70, 71, 49);
  color: rgb(240, 240, 73);
  border: 2px solid rgb(173, 127, 1);
  border-radius: 5px;
  margin-top: 0.5em;
  padding: 0.3em;
  font-size: 1.2em;
}

.search-results {
  margin: 0.5em;
  padding: 0;
  background-color: rgb(70, 71, 49);
  color: rgb(240, 240, 73);
  border-radius: 5px;
}

.search-results h3 {
  font-family: 'Gentium Basic', serif;
  padding: 0.5em;
  margin: 0;
}

.search-results-item label {
  font-family: 'Gentium Basic', serif;
  margin-left: 0.5em;
}

.search-results-item input {
  font-family: 'Gentium Basic', serif;
  margin: 0 0 1em 0.5em;
  width: 70%;
}

.search-results-item textarea {
  margin: 0.5em;
  width: 70%;
  height: 50px;
  vertical-align: top;
}

.spinner {
  background-color: white;
}

.alert {
  padding: 10px;
  width: 400px;
  font-family: 'Gentium Basic', serif;
  font-weight: 600;
}

.alert-danger {
  background-color: red;
  color: white;
}

.alert-success {
  background-color: green;
  color: white;
}
